<div class="d-flex justify-content-between align-items-center mt-4 mb-4 mx-5">
    <div>
        <input type="text" class="form-control" id="search" placeholder="Buscar...">
    </div>

    <div id="Filtro-home">
        <select class="form-select">
            <option>Ordenar por</option>
            <option>Número inferior</option>
            <option>Número superior</option>
        </select>
    </div>

    <mat-slider min="200" max="500">
        <input value="300" matSliderStartThumb>
        <input value="400" matSliderEndThumb>
    </mat-slider>
</div>

<div class="container-fluid">
    <div class="row">

        <h1 class="text-center align-items-center"> Gasolineras </h1>
        @for(gasolinera of listaGasolineras; track gasolinera.id) {
            <div class="col-4 mb-4 mt-4 align-center d-flex">
                <div class="w-100 mx-3">
                    <div class="card p-2">
                        <div class="d-flex justify-content-center mb-1 p-2">
                            <h4 class="mb-0 text-capitalize ">{{gasolinera.nombre}}</h4>
                        </div>
                        <h5 class="text-center">{{gasolinera.localidad}} , {{gasolinera.municipio}}</h5>
                        <div class="ps-5">
                            <p> Dirección: {{gasolinera.direccion}}</p>
                            <p> Horario: {{gasolinera.horario}}</p>
                            <h5 class="text-center"> Precios </h5>
                            <p> Gasoleo A: {{gasolinera.precioGasoleoA | euro}}</p>
                            <p> Gasoleo B: {{gasolinera.precioGasoleoB | euro}}</p>
                            <p> Gasolina 95 E5: {{gasolinera.precioGasolina95E5 | euro}}</p>
                            <p> Gasolina 98 E5: {{gasolinera.precioGasolina98E5 | euro}}</p>
                            <p> Hidrógeno: {{gasolinera.precioHidrogeno | euro}}</p>
                        </div>
                   </div>

                </div>
            
            </div>
        }
    </div>
</div>

