<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" position="end">
        <div class="d-flex justify-content-between align-items-center p-3">
            <h2>Filtros</h2>
            <button mat-icon-button (click)="sidenav.close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>

        <div class="p-3">
            <h5>Rango de precio</h5>


            <h5 class="mt-5">Carburantes</h5>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Seleccionar carburante</mat-label>
                <mat-select [(value)]="selectedCarburante">
                    <mat-option value="Gasoleo A">Gasóleo A </mat-option>
                    <mat-option value="Gasoleo B">Gasóleo B</mat-option>
                    <mat-option value="Gasolina 95 E5">Gasolina 95 E5</mat-option>
                    <mat-option value="Gasolina 98 E5">Gasolina 98 E5</mat-option>
                    <mat-option value="Hidrogeno">Hidrógeno</mat-option>
                </mat-select>
            </mat-form-field>

            <h5 class="mt-5">Comunidades Autonomas</h5>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Seleccionar comunidad</mat-label>
                <mat-select [(value)]="selectedComunidad">
                    @for(comunidad of listaComunidades; track comunidad.IDCCAA) {
                    <mat-option [value]="comunidad.IDCCAA">
                        {{ comunidad.CCAA }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <h5 class="mt-5">Provincias</h5>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Seleccionar provincia</mat-label>
                <mat-select [(value)]="selectedComunidad">
                    @for(provincia of listaProvincias; track provincia.IDPovincia) {
                    <mat-option [value]="provincia.IDPovincia">
                        {{ provincia.Provincia }}
                    </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-divider class="mt-4"></mat-divider>
            <div class="text-center mt-3">
                <button mat-button type="button" (click)="aplicarFiltros()">Aplicar</button>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="d-flex justify-content-between align-items-center mt-4 mb-4 mx-5">
            <div>
                <input type="text" class="form-control" id="search" placeholder="Buscar..." [(ngModel)]="searchTerm"  [matAutocomplete]="auto" (input)="buscarGasolineras()">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (code of listaCode; track code.codigo_postal) {
                            <mat-option [value]="code.codigo_postal" (input)="buscarGasolineras()">{{code.codigo_postal}} - {{code.municipio_nombre}} </mat-option>
                        }
                    </mat-autocomplete>
            </div>
            <button mat-button class="btn mb-2 me-2" (click)="sidenav.open()">Filtrar por</button>
        </div>

        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center align-items-center">Gasolineras</h1>

                <div *ngIf="noResultsMessage" class="alert alert-warning text-center mt-4">
                    {{ noResultsMessage }}
                </div>

                @for(gasolinera of filteredGasolineras; track gasolinera.id) {
                <div class="col-4 mb-4 mt-4 align-center d-flex">
                    <div class="w-100 mx-3">
                        <div class="card p-2">
                            <div class="d-flex justify-content-center mb-1 p-2">
                                <h4 class="mb-0 text-capitalize">{{ gasolinera.nombre }}</h4>
                            </div>
                            <h5 class="text-center">{{ gasolinera.localidad }} , {{ gasolinera.municipio }} ({{
                                gasolinera.cp }})</h5>
                            <div class="ps-5">
                                <p>Dirección: {{ gasolinera.direccion }}</p>
                                <p>Horario: {{ gasolinera.horario }}</p>
                                <h5 class="text-center">Precios</h5>
                                <p>Gasoleo A: {{ gasolinera.precioGasoleoA | euro }}</p>
                                <p>Gasoleo B: {{ gasolinera.precioGasoleoB | euro }}</p>
                                <p>Gasolina 95 E5: {{ gasolinera.precioGasolina95E5 | euro }}</p>
                                <p>Gasolina 98 E5: {{ gasolinera.precioGasolina98E5 | euro }}</p>
                                <p>Hidrógeno: {{ gasolinera.precioHidrogeno | euro }}</p>
                                    <a [href]="gasolinera | googleMapRoute" target="_blank"><button
                                        mat-raised-button>Ver localización</button></a>
                                    <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>